/node_modules/
/test/
/build/
.DS_Store
.idea/
*.iml
# Eclipse IDE
.project
.settings/
.vscode/settings.json
/target/
.classpath
global-antora-playbook.yml

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
.unittest_cache/
