name: Backport changes to maintenance branches
on:
 pull_request_target:
  types: labeled
 push:
  branches:
   - main
   - v/*
jobs:
  backport:
    uses: hazelcast/backport/.github/workflows/backport.yml@master
    with:
      BACKPORT_PREFIX: "backport to"
    secrets:
      GH_TOKEN: ${{ secrets.DEVOPSHAZELCAST_PAT_FOR_MONOREPO }}
