# This workflow takes the contents of the branches/tags and builds the production documentation site

name: Build production site

on:
  push:
    branches: [ main, 'v/*' ]
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch docs deployment
        #   https://docs.netlify.com/configure-builds/build-hooks/
        run: curl -d {} https://api.netlify.com/build_hooks/60e71936b15bb431b42b698a
