name: AsciiDoc to HTML

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:              
      - uses: actions/checkout@v4.1.1
      - name: Asciidoc to html
      - uses: cazziwork/asciidoc-to-html@v1.0.0
        with:
          src: ../../docs/modules/ROOT/pages/whats-new/
          dest: ../../.

            